body {
    background-image: url("https://images.squarespace-cdn.com/content/v1/56acc1138a65e2a286012c54/1535029650720-GL36C186527MOC0K2HQR/cube-568105_1920.jpg?format=1000w");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 100%;
}

#main{
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
    
    border-radius: 10px;
}